/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .post-items{
        width: 30%;
    }
    .subscribe-shape{
        width: 80%;
    }
    .subscribe-right{
        justify-content: flex-start;
    }

}

@media only screen and (max-width: 1070px) {
    .container {
        max-width: 720px;
    }

    .services-section {
        flex-wrap: wrap;
        justify-content: center;
        transform: translateY(-10%);
    }

    .services {
        width: 45%;
    }

    .menu__items:nth-child(4),
    .menu__items:nth-child(5),
    .menu__items:nth-child(6) {
        display: none;
    }

    .post-items {
        width: 45%;
    }

    .subscribe-left__title {
        font-size: 1.8rem;
    }

    .subscribe-left-wrapper {
        max-width: 25rem;
    }

    .subscribe-left__text {
        font-size: 1.3rem;
    }

    .subscribe-left {
        transform: translateX(-5rem);
    }

    .subscribe-left-box {
        margin-top: 1.5rem;
    }

    .subscribe-left__send-icon {
        right: 3.3rem;
    }

    .subscribe-right__img {
        width: 100%;
        transform: translateX(5rem);
    }

    .footer-wrapper-scrolltop {
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-wrapper-info:nth-child(2) {
        width: 165%;
    }

    .main-post-image {
        width: 10%;

    }
}

@media only screen and (max-width: 882px) {
    .container {
        max-width: 540px;
    }
    .menu__links{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .nav{
        padding: 0;
    }
    .logo__img{
        position: absolute;
        top: 4rem;
        left: 2rem;
    }
    .login__links{
        display: none;
    }
    .menu-list{
         display: flex;
         align-items: center;
         justify-content: center;
    }
    .footer-wrapper-box{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .footer-wrapper-info:nth-child(2){
        grid-area: 3 / 1 / 4 / 3;
        width: 80%;
        margin-bottom: 7rem;
    }
    .subscribe-left__email{
        width: 110%;
    }
    .subscribe-left__send-icon{
        right: -0.9rem;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .header-wrapper__title{
        font-size: 4rem;
    }
    .services-section {
        transform: translateY(-4%);
    }

    .services {
        width: 65%;
    }

    .post-items {
        width: 65%;
    }

    .main-post-image {
        width: 15%;
    }

    .header-wrapper__link {
        padding: 1rem 5rem;
    }

    .post-items:nth-child(5),
    .post-items:nth-child(6),
    .post-items:nth-child(7),
    .post-items:nth-child(8),
    .post-items:nth-child(9),
    .post-items:nth-child(10),
    .post-items:nth-child(11),
    .post-items:nth-child(12) {
        display: none;
    }

    .footer-wrapper-box {
        display: grid;
        padding: 5rem;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .footer-wrapper-info:nth-child(1) {
        grid-area: 1 / 1 / 2 / 3;
    }

    .footer-wrapper-info:nth-child(2) {
        grid-area: 4 / 1 / 6 / 3;
        width: 100%;
        margin-bottom: 5rem;
    }

    .footer-wrapper-info:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .footer-wrapper-info:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
    }

    .footer-wrapper-info:nth-child(5) {
        grid-area: 3 / 1 / 4 / 3;
    }

    .footer-wrapper-info__img1 {
        width: 35%;
    }
    .footer-wrapper-info__img2 {
        width: 35%;
    }
    .subscribe {
        flex-direction: column-reverse;
        width: 65%;
        margin: 0 auto;
        padding: 4rem 2rem;
    }
    .subscribe-left,
    .subscribe-right,
    .subscribe-right__img {
        width: 100%;
        transform: translateX(0);
    }
    .subscribe-left {
        margin-top: 2rem;
    }
    .subscribe-right {
        z-index: 10;
        width: 100%;
    }
    .subscribe-left__title,
    .subscribe-left__text {
        text-align: center;
    }
    .subscribe-left__email {
        width: 100%;
    }
    .subscribe-left__send-icon {
        right: 1.1rem;
    }
    .subscribe-shape {
        width: 100%;
        height: 100%;
        top: 15rem;
        left: 0;
    }
}