/* Project Responsive */
@media only screen and (max-width: 2560px) {
  .container {
    max-width: 1440px;
  }
}
@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1024px;
  }
  /* Responsive destination card */
  .destination-card {
    width: 20%;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
  /* Responsive destination card */
  .destination-card {
    width: 30%;
  }
  .menu__items:nth-child(4),
  .menu__items:nth-child(5),
  .menu__items:nth-child(6) {
    display: none;
  }
  /* Fix additional padding in different resolution */
  .newsletter {
    padding: 2em 4em;
  }
  /* Align scroll up btn in resolution < 1024 */
  .footer-scroll-top {
    left: 50%;
    transform: translateX(-50%);
  }
  /* Responsive footer */
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Just for remove hamburger menu in large device */
@media only screen and (min-width: 768px) {
  .navigation__hamburger-btn {
    display: none;
  }
  .navigation__hamburger-menu {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  /* Fix header text around */
  .header-wrapper {
    width: 40vw;
  }
  /* For remove navigation without website logo */
  .menu__links {
    display: none;
  }
  /* Show hamburger menu */
  .navigation__hamburger-btn {
    display: flex;
  }
  /* Show hamburger menu */
  .navigation__hamburger-menu {
    display: flex;
  }
  /* Hidden login in navigation for mobile/tablet device */
  .navigation__login {
    display: none;
  }
  /* Responsive destination card */
  .destination-card {
    width: 45%;
  }
  /* Change display direction */
  .newsletter {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    min-height: 50rem;
    padding: 4rem;
  }
  /* Fix width */
  .newsletter-content {
    align-items: center;
    width: 100%;
    text-align: center;
  }
  /* Fix width */
  .newsletter__form {
    width: 100%;
  }
  /* Fix width */
  .newsletter-banner {
    width: 100%;
  }
  /* Fix position */
  .newsletter-banner__shape {
    top: 5em;
    left: -20em;
  }
  /* Redesign row */
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Fix image in footer */
  .footer__wrapper-img {
    width: 30%;
  }
}
@media only screen and (max-width: 426px) {
  .container {
    max-width: 375px;
  }
  /* Fix header text around */
  .header-wrapper {
    width: 70vw;
  }
  /* Fix services box position */
  .services {
    -webkit-transform: translateY(-10vw);
    -moz-transform: translateY(-10vw);
    -ms-transform: translateY(-10vw);
    -o-transform: translateY(-10vw);
    transform: translateY(-10vw);
  }
  /* Responsive destination card */
  .destination-card {
    width: 100%;
  }
  /* Remove Additional padding */
  .newsletter {
    padding: 4rem 2rem;
  }
  /* Remove Additional padding */
  .newsletter-banner {
    padding: 0;
  }
  /* Fix position */
  .newsletter-banner__shape {
    left: -27.5em;
    top: 5em;
  }
  /* Footer responsive */
  .footer__text {
    max-width: 100%;
  }
  .footer-content-part:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  .footer-content-part:nth-child(5) {
    grid-area: 4 / 1 / 5 / 3;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    max-width: 320px;
  }
}
